<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inbetween">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.InBetween">

        <!-- השורה הזו הופכת את LoginActivity ל-Launcher של האפליקציה -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.InBetween">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- פעילות ההרשמה -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />

        <!-- מסך הבית -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />

        <!-- מסך הוספת משימה -->
        <activity
            android:name=".AddTaskActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />

        <!-- פרטי משימה -->
        <activity
            android:name=".TaskDetailActivity"
            android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />

        <!-- מסך עריכת/הוספת מטרה -->
        <activity
            android:name=".AddEditGoalActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />

        <!-- מסך הצעות זמנים למטרות -->
        <activity
            android:name=".GoalSuggestionsActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />
        <activity
            android:name=".GoalsActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />
        <activity
            android:name=".ChooseActionActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:theme="@style/Theme.InBetween" />


    </application>

</manifest>
